.modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    background-color: aliceblue;
    align-items: left;
    justify-content: left;

}

.modal-content{
    width: 500px;
    background-color: aliceblue;
}

.modal-header{
    padding: 10px;
    font-size: 30px;
}

.modal-title{
    margin: 0;
}

.modal-body{
    padding: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

input, label{
    display: block;
}

label{
    padding-top: 10px;
}

.save-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-color: green;
    border-radius: 3px;
    color: green;
    width: 70px;
    height: 35px;
    position: relative;
    top: 10px;
}
.save-button img {
    width: 20px;
    height: 20px; 
    margin-right: 5px; 
  }