.App {
  text-align: left;
}

.modal-content{
  width: 500px;
  background-color: aliceblue;
}

.app-header{
  padding-left: 20px;
  font-size: 30px;
  padding-bottom: 20px;
}

.modal-title{
  margin: 0;
}

.app-body{
  padding-left: 20px;

}
.app-song-list{
  padding-left: 30px;

}

input, label{
  display: block;

}


.add-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-color: deepskyblue;
  border-radius: 3px;
  color: deepskyblue;
  width: 70px;
  height: 35px;
  position: relative;
  left: 20px;
  top: 10px;
}

h3{
  margin-bottom: -20px;
}
.title{
  font-size: 20px;
}

ul{
  padding-left: 10px;
}

.add-button img {
  width: 20px; 
  height: 20px;
  margin-right: 5px;
}